{% extends "home.html" %}

{% block content%}
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="{{url_for('static',filename='assets/img/about.jpg')}}" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Excellent Customer Service.</li>
              <li><i class="bi bi-check-circle"></i> High security.</li>
              <li><i class="bi bi-check-circle"></i> Fresh food and very pocket friendly.</li>
            </ul>
            <p>
              Visit us for an exceptional services.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why Us</h2>
          <p>Why Choose Our Restaurant</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>Excellent Customer Service</h4>
              <p>Get the very best from our highly trained proffessionals who ensure you get the best service.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>High Security and Best Location</h4>
              <p>Located on the outskirts of the city and beside the kabarak-nakuru gives a good location for
                sightseeing, recreation, dining, and getting around.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4> Fresh Food</h4>
              <p>Experience our best quissine served with our whole-heartedly staff and chefs. The price is very pocket
                friendly and affordable to all.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->
{% endblock %}
